
/* shared items */
.display-flex{
    display: flex;
}
body{
   max-width: 1140px;
    margin: 0 auto;

}

/* color-1 */
.grey{
    color: #000000;
}
/* color-2 */
.orange{
    color: #E95A08;
}
/* color-3 */
.black{
    color: #252432;
    font-weight: 10px;
}
/* color-4 */
.light-grey{
    color: #8987A1;
}
.section-title{
    font-size:50px;
}
.section-description{
    font-size: 30px;
}
.black2{
    color: #000000;
    font-weight: 700px;
}
.btn-primary{
    background-color: #E95A08;
    color: white;
    padding: 10px 90px 10px;
    border: 0px;
}

/* navbar styles */
.navbar{
    justify-content: space-between; 
   align-items: center;
   max-width: 1140px;
   margin: 0 auto;
}
.items{
    list-style: none;
    margin-right: 30px;
}
.about-items{
    align-items: center;
    gap: 35px;
}
.about{
    justify-content: center;
    align-items: center;
}
.cart-item{
    align-items: center;
    justify-content: center;
   
}
/* banner section fresh flowers */
.banner{
    /* padding-top: 100px; */
    /* gap: 110px; */
    /* justify-content: center; */
    align-items: center;
    /* max-width: 1140px; */
   /* margin: 0 auto; */
   justify-content: space-between;
   padding: 30px;
   gap: 20px;
   display: flex;
}
.banner-item{
    /* padding-right: 100px; */
    gap: 0;
    padding-top: 100px;
    
}
.banner-img img{
    /* padding-right: 50px; */
    /* width: 100%; */
    /* max-width: 550px; */
}

/* our plants secction */
.our-plants-header{
    justify-items: center;

}
/* card section */
.card-items{
    /* border: 1px solid purple; */
    gap: 20px;
}
.card{
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 2, 1fr;
}
.card-h2{
    justify-items: center;
}
/* flower and plant lover section styles */
  .plant-lover-title{
    display:flex;
    
   
    gap: 50px;
    margin-top: 200px;
  }
  .plant-lover-trusted-badge{
    margin-top: -750px;
    margin-left: 350px;

    }
    /* plants deal section */
    .deals{
       padding-top: 500px;
       text-align: center;
       
    }
    /* box model styles */
    .image-1{
        background-image: url(../assets/deal-bloom.png);
        height: 200px;
        width: 300px;
        border-radius: 14px;
        color: white;
        font-weight: 500;
        text-align: center;
         filter:brightness(70%);
        
        
    }
    .image-2{
        background-image: url(../assets/deal-ana.png);
        height: 180px;
        width: 300px;
        border-radius: 14px;
        color: white;
        font-weight: 500;
        text-align: center;
         filter:brightness(70%);
    }
    .image-3{
        background-image: url(../assets/deal-zabo.png);
        height: 400px;
        width: 600px;
        color: white;
        font-weight: 500;
        text-align: center;
        align-items: center;
        border-radius: 20px;
        filter:brightness(70%);
    }
    .images{
        gap: 500px;
    }
    .image-options{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    /* long-image styles */
      .long-img{
        background-image: url(../assets/news-letter-bg.png);
        height: 400px;
        max-width: 1440px;
        justify-content: center;
        text-align: center;
        padding-top: 80px;
      }
      .h1-title{
       font-size:50px;
       color: white;
      }
      .input{
        padding: 10px 150px 10px;
        margin-right: 10px;
      }
      .gap{
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .btn{
        background-color: #E95A08;
        color: white;
        padding: 10px 90px 10px;
        border: 0px;
        margin: 0;

      } 
      .log-img{
        margin-top: 50px;
      }
      .log-p{
        font-size: 20px;
      }
      .home, .div-2, .logos{
        margin-top: 30px;

      }
      .list-1{
        padding-top: 20px;
      }
      .none{
        list-style: none;
        font-size: 20px;
        
      }
      .main-div{
        display: flex;
        margin: auto;
      }
      .div-2{
        display: flex;
      }
      .list-3{
        display: flex;
      }
      .logos{
        padding-right: 30px;
      }

/* responsive section */
@media screen and (max-width:576px) {
    .navbar, .about-items, {
        flex-direction:row;
    }
    .ul-item{
        display: none;
    }
    .banner{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .banner-item{
        padding: 0;
    }
    .section-description, .banner-img{
        padding: 0;
    }
    .card{
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
    }
    .plant-lover-title{
        flex-direction: column;
    }
    .plant-lover-trusted-badge{
        display: none;
    }
    .deals{
        padding-top: 0;
    }
    .image-1, .image-2{
        width: 300px;
    }
    .image-3{
        width: 300px;
        height: 250px;
    }
    .image-options{
        flex-direction: column;
    }
    .long-img{
        width: 100%;
    }

    
}